.logo {
    width: 160px;
}

.logo-navbar {
    width: 60px;
}

.logo-jumbo {
    width: 500px;
}

.qr_initial_display {
    height: 80%;
}

.logo-jumbo-text {
    font-family: 'Rubik Mono One', sans-serif;
    size: 10vh;
}

.nav-dd-first {
    margin-left: 15px !important;
}

.nav-dd-second {
    margin-left: 0px !important;
}